{% extends 'base.html' %}

{% block content %}
    <main class="games__main">
        <div class="container">
            <div data-aos="fade-up" data-aos-duration="3000" 
            class="row games gap-3 d-flex justify-content-center">
                <div class="col-md-3 col-sm-4 col-12 game-box">
                    <p class="game">🏀</p>
                    <p class="game-title">Баскетбол</p>
                </div>
                <div class="col-md-3 col-sm-4 col-12 game-box">
                    <p class="game">⚽️</p>
                    <p class="game-title">Футбол</p>
                </div>
                <div class="col-md-3 col-sm-4 col-12 game-box">
                    <p class="game">🎯</p>
                    <p class="game-title">Дарт</p>
                </div>
                <div class="col-md-3 col-sm-4 col-12 game-box">
                    <p class="game">🎲</p>
                    <p class="game-title">Игровой кубик</p>
                </div>
                <div class="col-md-3 col-sm-4 col-12 game-box">
                    <p class="game">🎳</p>
                    <p class="game-title">Боулинг</p>
                </div>
                <div class="col-md-3 col-sm-4 col-12 game-box">
                    <p class="game">🎰</p>
                    <p class="game-title">Игровой автомат</p>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/e0d29f85c1.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>